@import "tailwindcss";

body {
  background-color: #f8fafc; 
}

@keyframes scan {
  0% { top: 0; }
  100% { top: 100%; }
}

.animate-scan-line {
  position: absolute;
  animation: scan 2s linear infinite;
}